.wizardry-delete-button {
  height: 6vw;
  background: #f1a659;
  border-color: #808080;
  border-style: solid;
  padding-top: 3px;
  border-width: 2px 2px 2px 2px;
  position: relative;
  box-sizing: content-box;
  font-size: 4vw;
  line-height: 4vw;
}
.wizardry-delete-button::after {
  content: attr(ico);
  margin-left: 8px;
  background: white;
  font-size: 4vw;
  border-radius: 100%;
  padding: 2px 10px 2px 10px;
}
.wizardry-delete-button:hover {
  background: #f8cda1;
  border-color: #c9c9c9;
  color: gray;
}
