.wizardry-delete-button {
  height: 2.5vw;
  background: #f1a659;
  border-color: #808080;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  position: relative;
  box-sizing: content-box;
  font-size: 1.5vw;
  min-width: 60px;
}
.wizardry-delete-button::after {
  content: attr(ico);
  margin-right: 1px;
  margin-left: 8px;
  background: white;
  font-size: 1.75vw;
  border-radius: 100%;
  padding: 2px 10px 2px 10px;
  box-sizing: content-box;
}
.wizardry-delete-button:hover {
  background: #f8cda1;
  border-color: #c9c9c9;
  color: gray;
}
