.wizardry-delete-button {
  width: 13vw;
  height: 6vw;
  background: #f1a659;
  border-color: #808080;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  position: relative;
  box-sizing: content-box;
}
.wizardry-delete-button::before {
  content: "Delete";
  position: absolute;
  top: 30%;
  left: 0.9vw;
  background: transparent;
  box-sizing: content-box;
  font-size: 2vw;
  font-weight: bold;
}
.wizardry-delete-button::after {
  content: "\00d7";
  position: absolute;
  top: 7%;
  right: 4%;
  background: white;
  font-size: 4vw;
  border-radius: 100%;
  padding: 2% 10% 2% 10%;
  box-sizing: content-box;
}
.wizardry-delete-button:hover {
  background: #f8cda1;
  border-color: #c9c9c9;
  color: gray;
}
